.pagination_wrapper {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: transparent;
  }

  .btn,
  .pagination_btn {
    outline: none;
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
    color: black;
    background-color: var(--color-card);
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: background 0.3s ease, color 0.2s ease-out;
  }

  .btn:hover,
  .btn:not(.disabled):hover,
  .pagination_btn:hover,
  .pagination_btn:not(.disabled):hover {
    background: rgb(180, 180, 180);
    color: white;
  }

  
  .active {
    color: #fff;
    background: #a1e4d0;
  }

  .btn > i {
    font-size: 1.4rem;
    color: black;
  }

  .btn:not(.disabled):hover i {
    color: #fafafa;
  }

  .hidden {
    display: none;
  }
  