.form {
    position: relative;
    height: 30px;
    width: 80%;
    margin: 0.5rem auto; 
    display: block;   
   
}


.form .search_wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30px;
    padding: 0.25rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(65, 65, 65);
    border-radius: 25px;  
    transition: width 0.3s ease;  
}

.form .search_wrapper.active {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
}



.form .search_wrapper label {
    position: absolute;
    left: 0.5rem;
    bottom: 0.1rem;
    background-color: transparent;
}

.form .search_wrapper label i {
    color: white;    
    font-size: clamp(0.8rem, 1.2vw, 1rem);
    cursor: pointer;
}



form label i::before {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.5rem;
}

form input {
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}


form input[type="text"] {
    padding: 0.1rem 0.5rem;
    border: none;
    outline: none;
    display: none;
    width: 0;
    opacity: 0;
    background-color: transparent;
    color: var(--color-card);
    border-radius: 25px;
    border: 1px solid rgba(151, 151, 151, 0.634);
    transform: translateY(-50px);
    transition: all 0.4s ease-in-out;
   
}

#search.active {
    display: inline-block;
    opacity: 1;
    width: unset;
    transform: translateY(0px);
    
}

#search::placeholder {
    font-size: 0.8rem;
    transition: all 1s ease-in-out;
}

form input[type="submit"] {
    position: absolute;
    right: 1rem;
    top: 0.4rem;
    display: none;
    width: 0;
    border: none;    
    background-color: transparent;
    color: var(--color-nav);
    color: white;
    text-transform: uppercase;
    font-weight: 100;
}

form input[type="submit"].active {
    display: inline-block;
    width: unset;
}


@media(min-width: 768px) {
    .form {
        width: 30%;
    }
    form input[type="text"].active {
        width: unset;
    }
}