* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f5f5f3;
    color: #232328;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content_wrapper {
    margin: 25px auto 0;
    width: 100%;
    max-width: 768px;
    background-color: #c5c5c5;
    color: #ededed;
    border: 1px solid #888;
}

.item {
    padding: 15px 30px;
    border-bottom: 3px solid #555;
    cursor: pointer;
}

.item:last-of-type {
    border-bottom: none;
}

.item:hover {
    background: rgba(0,0,0,0.125);
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.item h2 {
 text-transform: capitalize;
 margin: 0.5rem 0;
}
.item p {
    color: #232329;
    margin-bottom: 0.25rem;
}

.item p:last-child {
    font-weight: bold;
}

button {
    padding: 6px 12px;
    background-color: #888;
    color: whitesmoke;
    border: 1px solid black;
}

.pagination {
    margin: 2rem  auto 1rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    transition: all 0.3s ease;
}

.page_num {
    margin: 0 0.2rem;
    display: inline-block;
    width: 35px;
    padding: 8px;
    background-color: #888;
    border-right: 1px solid black;
    color: white;
    font-size: 1rem;
    text-align: center;
    transition: font-size 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) background 0.3s ease;
    cursor: pointer;
}

button:hover,
.page_num:hover {
background-color: #282828;
}

.active {
    color: white;
    background-color: black;
    border: 1px solid #888;
}