* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;

}

main {
    margin: 10vh auto 0;
    width: 80%;
    height: 90vh;
}

td, th {
    padding: 10px;
  }
  
  th {
    cursor: pointer;
  }